<!DOCTYPE html>
<html>
<head>
    <style>
       
    </style>
</head>
<body>

    <p>{{.Text}}</p>
    <form action="http://localhost:8080/" method="post">
        //TODO ADD label for input and key word, keyword need to be case insensitive
        URL:<input type="text" name="root_url">
        Keyword: <input type="text" name="keyword">
        <input type="submit">
    </form>

    {{if .Valid_url}}
        Link that contains search keyword are:
        {{range $url := .Url_contain_keyword}}
            {{ $url }}
        {{end}}
    {{end}}
</body>
</html>